<div class="pledges">
  <h3>Submit a pledge!</h3>

  <%= form_for @pledge.each do |f| %>
      <%= f.label :dollar_amount, "Dollar Amount" %>
      <%= f.number_field :dollar_amount %>
      <%= f.hidden_field :project_id %>
      <%= f.submit "Submit Pledge" %>
  <% end %>
</div>
