<h2>User information</h2>

<!-- This show the user's info: The username and the email -->

<h3 class="userinfo"> Username: <%= @user.username %></h3>

<h3 class="userinfo"> Email: <%= @user.email %> </h3>

<!-- This shows the user's list of pledged projects -->
  <div>
    <h3>List of Pledged Projects</h3>
      <ul>
        <% @user.pledged_projects.each do |project| %>
        <li><%= link_to project.title, project_path(project) %></li>
        <% end %>
      </ul>
  </div>
<!-- This shows the user's list of owned projects -->
  <div>
    <h3>List of Owned Projects</h3>
      <ul>
      <% @user.owned_projects.uniq.each do |project| %>
      <li> <%= link_to project.title, project_path(project) %> </li>
      <% end %>
    </ul>
  </div>
<!-- This shows the user's list of rewards -->
  <h3>List of Rewards</h3>

    <ul>
    <% @user.rewards.uniq.each do |reward| %>
      <li>
        <%= link_to reward.title, project_path(reward.project) %>-
        <span><%= reward.description %></span>
      </li>
    <% end %>



<!-- Button that takes you to the project index page -->
<p><%= link_to 'Back', projects_path %></p>
