<h1>User information</h1>

<!-- This show the user's info: The username and the email -->

<h3 class="userinfo"> Username: <%= @user.username %></h3>

<h4 class="userinfo"> Email: <%= @user.email %> </h4>

<!-- This shows the user's list of pledged products plus owned projects -->
  <div>
    <h2>List of Pledged Projects</h2>

    <% current_user.pledged_projects.each do |project| %>
    <%= project.title %>
    <%= link_to project.title, project_path(project) %>
    <% end %>
  </div>

  <div>
    <h2>List of Owned Projects</h2>
      <ul>
      <% current_user.owned_projects.uniq.each do |project| %>
      <li> <%= link_to project.title, project_path(project) %> </li>
      <% end %>
    </ul>
  </div>

  <h3>List of Rewards</h3>

    <ul>
    <% current_user.rewards.uniq.each do |reward| %>
      <li>
        <a href=<%= project_path(reward.project) %>><%= image_tag reward.image_url, class: "reward-thumbnail"%></a>
        <%= link_to reward.name, project_path(reward.project) %>-
        <span><%= reward.description %></span>
      </li>
    <% end %>



<!-- Button that takes you to the project index page -->
<p><%= link_to 'Back', projects_path %></p>
