<div class='nested-fields'>
    <div class="field">
        <%= f.label :title, :class => "label-tag" %>
        <%= f.text_field :title, :class => "label-text-field" %>
    </div>
    <div class="field">
        <%= f.label :description, :class => "label-tag"  %>
        <%= f.text_field :description, :class => "label-text-field" %>
    </div>
    <div class="field">
        <%= f.label :quantity, :class => "label-tag"  %>
        <%= f.number_field :quantity, :class => "label-text-field" %>
    </div>
    <div class="field">
        <%= f.label :min_requirement, "Min. Dollar Amount", :class => "label-tag"  %>
        <%= f.number_field :min_requirement, :class => "label-text-field" %>
    </div>
    <%= link_to_remove_association "Remove reward", f %>
</div>
