<div><%= image_tag @project.image_url %></div>
<h1 class="project_name"><%= @project.title %></h1>
<h3 class="project_owner"> Project Owner: <%= link_to @project.owner.username, user_path %> </h3>

<p class = "project-description"> <h4>Description</h4>
  <%= @project.description %>
</p>
  <br>
  <br>
  <h2>Project Ends On:</h2>

  <%= @project.project_end_date.strftime("%b %d, %Y") %><br>
  <%= @project.funding_percent %><br>
  <%= @project.total_funding.to_i %><br>
  <%= @project.funding_goal %><br>


  <%= render :partial => 'pledges/pledges' %>

  <h2>Pledges</h2>
  <% @project.pledges.each do |pledge| %>
    <% if pledge.dollar_amount != nil %>
      <p><%= pledge.dollar_amount %>.00 by <%= pledge.user.username %></p>
      <% else  %>
      <p> No one has pledged yet</p>
    <% end  %>
  <% end  %>


  <%= @project.pledging_users.count %> <%= @project.pledging_users.count > 1 ? "Backers" : "Backer" %>

  <% @project.rewards.each do |reward| %>
    <p>Reward: </p> <%= reward.title %> <%= reward.current_quantity %> of <%= reward.quantity %>left</p>
    <p>Minimum Pledge: </p> <%= reward.min_requirement %>.00
    <p>Description: </p> <%= reward.description %>
  <% end %>
  <!-- Check this later -->

  <% if @project.comments.any? %>
    <% @project.comments.each do |comment| %>
       <p> <%= comment.user.username %> Says: <%= comment.body_text %> </p>
      <% end %>
    <% else %>
      <p> No Comments Posted</p>
  <%end %>

  <%= render partial: 'comments/form' %>
